* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    width: 100%vh;
    background-color: grey; 
    display: flex;
    justify-content: center;
}

.card {
    margin-top: 100px;
    height: 500px;
    width: 350px;
    display: block;
    background-color: rgb(248, 243, 243);
    align-items: center;
    color: white;
    align-content: center;
    border-radius: 30px;
    flex-direction: column;
}

.upper {
    height: 180px;
    justify-content: center;
    display: block;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.illustration {
    height: 150px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
  
.words {
    justify-content: center;
    display: block;
    text-align: center;
    color: rgb(1, 1, 17);
    height:50px;
    width: 100%;
    /* margin-top: -70px; */
    margin-bottom: 100px;
}

.order{
    height: 0px;
    white-space: 30px;
    display: block;
    margin-bottom: 50px;
    font-size: 18px;
}

.word-2 {
    display: block;
    font-weight: 30px;
    color: rgb(241, 239, 239);
    /* background-color: black; */
    margin-top: -20px;
    color: rgb(60, 60, 64);
    font-weight: lighter;
}

.p {
    justify-content: center;
    align-content: center;
    font-weight: bold, lighter;


}
.second {
    display: flex;
    width: 290px;
    color: rgb(1, 1, 32);
    background-color: rgb(190, 174, 240);
    text-align: center;
    justify-items:left;
    padding: 10px;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 10px;
    align-items: center;
    height: 50px;
    margin-top: -20px;
}

.music {
    width: 35px;
    display: inline;
    /* background-color: black; */
    margin-left: 10px;
}

.music-plan{
    width: 20px;
    display: inline;
    margin-left: 20px;
    white-space:pre;
    justify-content: space-between;
    font-weight: 500;
}

.link{
    margin-left: 70px;
    width: 50px;
    display: inline;
    justify-content: space-between;
    font-size: smaller;
    font-weight: bold;
}

.proceed {
    background-color: blue;
    color: #ffffff;
    justify-content: center;
    padding: 10px;
    font-size: smaller;
    display: flex;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

