* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100px;
    width: 100%vh;
    background: linear-gradient(to right, blue , red. #0000);
    display: flex;
    justify-content: center;
}

.card {
    height: 450px;
    width: 20%;
    display: flex;
    background-color: black;
    align-items: center;
    color: white;
}
.illustration {
    height: 450px;
    width: 20%;
    box-sizing: border-box;
}

