* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    width: 100%vh;
    background-color: grey; 
    display: flex;
    justify-content: center;
}

.card {
    margin: 110px;
    height: auto;
    width: 300px;
    display: flex;
    background-color: black;
    align-items: center;
    color: white;
    align-content: center;
    padding: 20px;
    border-radius: 30px;
    flex-direction: column;
}

.upper {
    height: auto;
    width: 250px;
    margin-right: 60px;
    border-radius: 30px;
    justify-content: center;
    display: block;
}

.second {
    display: flex;
    width: ;
    color: blue;
    background-color: aquamarine;
    text-align: center;
    justify-items: center;
    margin-left: 60px;
}
.h3 {
    font-size: larger;
    font-weight: bold;
    color: rgb(2, 2, 20);
    text-align: center;
}